<div class="row">
  <nav>
    <a routerLink="/login" routerLinkActive="active">Login</a>
    <a routerLink="/registration" routerLinkActive="active">Registration</a>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/products" routerLinkActive="active">Producs</a>
    <app-translation-box-component></app-translation-box-component>
  </nav>
</div>
<div *ngIf="auth.userCredentials">
  {{auth.userCredentials.userName}}
</div>
<div class="row">
  <router-outlet></router-outlet>
</div>